<template>
  <v-container fluid>
    <radial-color-picker :id="id" />
  </v-container>
</template>

<script>
import RadialColorPicker from "@/components/hueitem/RadialColorPicker.vue";

export default {
  name: "Devtest",
  components: {
    RadialColorPicker
  },
  data: () => ({
    id: "1"
  })
};
</script>
