<template>
  <v-container id="dashboard-effects" class="white lighten-5" fluid>
    <h1
      class="text-center font-weight-medium"
      v-if="!$vuetify.breakpoint.mobile"
    >
      Effects
    </h1>
    <grid-item :items="items" :type="type" :dynamicComponent="component" />
  </v-container>
</template>

<script>
import { formattedItems } from "@/lib/common";
import GridItem from "@/components/generic/GridItem.vue";
import HueItemEffect from "@/components/HueItemEffect.vue";

const EFFECTS = require("@/rsc/effects");
const TYPE_EFFECT = "effect";

export default {
  name: "Effect",
  components: {
    GridItem
  },
  data() {
    return {
      effects: EFFECTS,
      type: TYPE_EFFECT,
      component: HueItemEffect
    };
  },
  computed: {
    items() {
      return formattedItems(this.effects);
    }
  }
};
</script>
