<template>
  <v-container id="dashboard-groups" class="white lighten-5" fluid>
    <h1
      class="text-center font-weight-medium"
      v-if="!$vuetify.breakpoint.mobile"
    >
      Groups
    </h1>

    <v-expansion-panels
      v-model="components.panel"
      multiple
      hover
      focusable
      flat
    >
      <v-expansion-panel>
        <v-expansion-panel-header class="font-weight-medium"
          >Zones</v-expansion-panel-header
        >
        <v-expansion-panel-content
          ><grid-item
            :items="groupsZones"
            :type="type"
            :dynamicComponent="component"
            :huedata="hueScenes"
        /></v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header class="font-weight-medium"
          >Rooms</v-expansion-panel-header
        >
        <v-expansion-panel-content
          ><grid-item
            :items="groupsRooms"
            :type="type"
            :dynamicComponent="component"
            :huedata="hueScenes"
        /></v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
import { fetchGroups } from "@/lib/huegroup";
import { fetchScenes } from "@/lib/huescene";
import { formattedItems } from "@/lib/common";
import { HUE_GROUP_TYPES } from "@/lib/huegroup";
import GridItem from "@/components/generic/GridItem.vue";
import HueItemObject from "@/components/HueItemObject.vue";
import Vue from "vue";

const TYPE_GROUP = "group";

export default {
  name: "Groups",
  components: {
    GridItem
  },
  data() {
    return {
      type: TYPE_GROUP,
      component: HueItemObject,
      components: { panel: [0, 1] }
    };
  },
  computed: {
    hueGroups() {
      return this.$route.params.groups;
    },
    hueScenes() {
      return this.$route.params.scenes;
    },
    groupsZones() {
      return formattedItems(this.hueGroups, [
        HUE_GROUP_TYPES.ENTERTAINMENT,
        HUE_GROUP_TYPES.ROOM
      ]);
    },
    groupsRooms() {
      return formattedItems(this.hueGroups, [
        HUE_GROUP_TYPES.ENTERTAINMENT,
        HUE_GROUP_TYPES.ZONE
      ]);
    }
  },
  beforeRouteEnter(to, from, next) {
    fetchGroups().then(response => {
      to.params.groups = response;
      Vue.$log.debug("beforeRouteEnter: fetchGroups:", to.params);
      fetchScenes().then(response => {
        to.params.scenes = response;
        Vue.$log.debug("beforeRouteEnter: fetchScenes:", to.params);
        next();
      });
    });
  },
  beforeRouteUpdate(to, from, next) {
    to.params.groups = null;
    to.params.scenes = null;
    fetchGroups().then(response => {
      to.params.groups = response;
      Vue.$log.debug("beforeRouteUpdate: fetchGroups:", to.params);
    });
    fetchScenes().then(response => {
      to.params.scenes = response;
      Vue.$log.debug("beforeRouteUpdate: fetchScenes:", to.params);
      next();
    });
  }
};
</script>
