<template>
  <div class="home">
    <h1
      class="text-center font-weight-medium"
      v-if="!$vuetify.breakpoint.mobile"
    >
      Homepage
    </h1>
    <v-container class="white lighten-5" fluid>
      <v-row
        id="row-stats-number-lights-on-mobile"
        align="center"
        justify="center"
        no-gutters
        v-if="$vuetify.breakpoint.mobile"
      >
        <v-col sm="4">
          <fancy-text-counter
            :count="lights.length.toString()"
            :total="$route.params.totalLights.toString()"
            :label="labelCounter"
          />
        </v-col>
        <v-col sm="8">
          <gradient-palette
            :gradients="$route.params.gradients.slice(0, 6)"
            :click="applyGradientOnLights"
            :reload="reloadGradients"
            :rounded="true"
            colorHeight="50"
            colorWidth="50"
            v-if="lights.length > 0"
          />
        </v-col>
      </v-row>
      <v-row
        id="row-lights-on"
        align="center"
        justify="space-between"
        no-gutters
      >
        <v-col
          id="col-lights-on"
          class="flex-grow-1"
          align-self="start"
          lg="8"
          xs="12"
        >
          <!-- Items side -->
          <grid-item
            :items="lights"
            type="light"
            :dynamicComponent="hueItemComponent"
          />
        </v-col>
        <v-col
          id="col-right-board"
          class="pa-3 flex-grow-1"
          align-self="start"
          cols="4"
          lg="4"
          v-if="!$vuetify.breakpoint.mobile"
        >
          <!-- Stats side -->
          <v-row
            id="row-stats-number-lights-on"
            align="start"
            justify="center"
            no-gutters
          >
            <!-- Number of lights on -->
            <fancy-text-counter
              :count="lights.length.toString()"
              :total="$route.params.totalLights.toString()"
              :label="labelCounter"
            />
          </v-row>
          <gradient-palette
            :gradients="$route.params.gradients"
            :click="applyGradientOnLights"
            :reload="reloadGradients"
            :rounded="true"
            colorHeight="100"
            colorWidth="100"
            v-if="lights.length > 0"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import EtherealColor from "ethereal-color";
import FancyTextCounter from "@/components/dashboard/FancyTextCounter";
import GradientPalette from "@/components/dashboard/GradientPalette";
import GridItem from "@/components/generic/GridItem.vue";
import HueItemObject from "@/components/HueItemObject.vue";
import Vue from "vue";
import VUE_EVENTS from "@/events.json";
import { fetchLights, setLightStates } from "@/lib/huelight";
import { rgbToXY, HUE_STATES } from "@/lib/hue";

const GRADIENT_NUMBER = 12;

/**
 * Generate a gradient
 *
 * @param {Integer} count number of gradient midpoint
 *
 * @returns {EtherealColor.Gradient} gradient
 */
export function generateGradient(color1, color2, count) {
  let c1, c2;
  if (color1 === null) {
    c1 = EtherealColor.Color();
    c1.random();
  } else {
    c1 = EtherealColor.Color(color1);
  }
  if (color2 === null) {
    c2 = EtherealColor.Color();
    c2.random();
  } else {
    c2 = EtherealColor.Color(color2);
  }
  const palette = EtherealColor.Palette([c1, c2]);
  const gradient = EtherealColor.Gradient(palette, {
    count: count >= 2 ? count : 2
  });
  return gradient;
}

export async function fetchFunction(to, next = undefined) {
  return await fetchLights().then(response => {
    Vue.$log.debug("fetchFunction: fetching lights on:", to);
    const entriesLights = Object.entries(response);
    to.params.totalLights = entriesLights.length;
    to.params.lights = entriesLights.filter(entry => entry[1].state.on);
    to.params.lights = to.params.lights.sort((x, y) =>
      x[1].name.localeCompare(y[1].name)
    );
    to.params.lights = to.params.lights.map(entry =>
      Object.assign({ id: entry[0], data: entry[1] })
    );
    to.params.gradients = Array(GRADIENT_NUMBER)
      .fill(generateGradient)
      .map(f => f(null, null, to.params.lights.length));
    if (next !== undefined) next();
  });
}

export default {
  name: "Home",
  components: {
    GridItem,
    FancyTextCounter,
    GradientPalette
  },
  data() {
    return {
      labelCounter: "lights on"
    };
  },
  methods: {
    applyGradientOnLights(gradient) {
      const arrGradient = gradient.toColorArray("rgb");
      this.$log.debug("applyGradientOnLights:", arrGradient);
      for (let i = 0; i < this.lights.length; i++) {
        let xy = rgbToXY(
          arrGradient[i].get("rgb").object.r,
          arrGradient[i].get("rgb").object.g,
          arrGradient[i].get("rgb").object.b
        );
        let states = {
          [HUE_STATES.ON.field]: true,
          [HUE_STATES.XY.field]: [xy.x, xy.y],
          [HUE_STATES.BRI.field]: xy.bri
        };
        setLightStates(this.lights[i].id, states);
        document.getElementById(
          "hue-object-" + this.lights[i].id
        ).style.background = arrGradient[i].get("rgb").string;
      }
    },
    reloadGradients() {
      this.$route.params.gradients = Array(GRADIENT_NUMBER)
        .fill(generateGradient)
        .map(f => f(null, null, this.lights.length));
      this.$forceUpdate();
    }
  },
  computed: {
    lights: {
      get() {
        return this.$route.params.lights;
      }
    },
    hueItemComponent() {
      return HueItemObject;
    }
  },
  beforeRouteEnter(to, from, next) {
    fetchFunction(to, next, { func: fetchFunction });
  },
  created() {
    this.$emit(VUE_EVENTS.FUNC_FETCHED, { func: fetchFunction });
  }
};
</script>
