<template>
  <v-container id="dashboard-lights" class="white lighten-5" fluid>
    <h1
      class="text-center font-weight-medium"
      v-if="!$vuetify.breakpoint.mobile"
    >
      Lights
    </h1>
    <grid-item :items="items" :type="type" :dynamicComponent="component" />
  </v-container>
</template>

<script>
import { fetchLights } from "@/lib/huelight";
import { formattedItems } from "@/lib/common";
import GridItem from "@/components/generic/GridItem.vue";
import HueItemObject from "@/components/HueItemObject.vue";
import Vue from "vue";

const TYPE_LIGHT = "light";

export default {
  name: "lights",
  components: {
    GridItem
  },
  data() {
    return { type: TYPE_LIGHT, component: HueItemObject };
  },
  computed: {
    hueLights() {
      return this.$route.params.lights;
    },
    items() {
      return formattedItems(this.hueLights);
    }
  },
  beforeRouteEnter(to, from, next) {
    fetchLights().then(response => {
      Vue.$log.debug("beforeRouteEnter: before:", to);
      to.params.lights = response;
      Vue.$log.debug("beforeRouteEnter: fetchLights:", to.params);
      next();
    });
  },
  beforeRouteUpdate(to, from, next) {
    to.params.lights = null;
    fetchLights().then(response => {
      to.params.lights = response;
      Vue.$log.debug("beforeRouteUpdate: fetchLights:", to.params);
      next();
    });
  }
};
</script>
