<template>
  <v-card
    :id="'hue-object-' + hueid"
    :style="style.header.bg"
    class="mx-auto px-auto"
    min-width="260"
  >
    <details-modal-item
      :title="detailsText.title"
      :details="detailsText.content"
      :onclick="displayDetails"
    />
    <v-card-title>
      <img :src="hueAdapter.icon" class="pr-3 pb-1" height="48" width="48" />
      {{ hueAdapter.name }}
    </v-card-title>
    <v-card-subtitle>{{ getCardSubtitle() }}</v-card-subtitle>
    <effects-select-item
      :default="components.comboboxEffect"
      :effects="hueEffects"
      :onchange="setEffect"
      :disabled="disabledEffect"
    />
    <v-expansion-panels accordion flat tile>
      <states-panel-item
        :hueid="hueid"
        :onchange="setXY"
        :disabled="disabledStates"
      />
      <scenes-panel-item
        v-if="type === TYPE_GROUP"
        :scenes="Object.entries(hueGroupScenes)"
        :onclick="setGroupScene"
        :disabled="disabledScenes"
      />
    </v-expansion-panels>
    <footer>
      <v-btn
        @click="switchOnOff()"
        :color="style[getOnOff()].color"
        :disabled="style[getOnOff()].disabled"
        block
        depressed
        large
        tile
      >
        {{ getOnOff() }}
        <v-icon right>{{ style[getOnOff()].icon }}</v-icon>
      </v-btn>
    </footer>
  </v-card>
</template>

<script>
import {
  rgbToXY,
  xyToRGB,
  HUE_STATES,
  alphaToBri,
  briToAlpha
} from "@/lib/hue";

import { HueAdapter } from "@/lib/hueadapter";
import { fetchScene } from "@/lib/huescene";
import { createGradientCSS, createBackgroundCSS } from "@/lib/common";
import ScenesPanelItem from "./hueitem/ScenesPanelItem.vue";
import StatesPanelItem from "./hueitem/StatesPanelItem.vue";
import DetailsModalItem from "./hueitem/DetailsModalItem.vue";
import EffectsSelectItem from "./hueitem/EffectsSelectItem.vue";

const EFFECTS = require("@/rsc/effects");
const NO_SCENE = "No scene";

export default {
  name: "HueItemObject",
  components: {
    ScenesPanelItem,
    StatesPanelItem,
    DetailsModalItem,
    EffectsSelectItem
  },
  props: {
    item: Object,
    hueid: String,
    type: String,
    huedata: Object
  },
  data() {
    return {
      components: {
        color: { r: 0, g: 0, b: 0, a: 1 },
        comboboxEffect: EFFECTS[0].name
      },
      style: {
        on: {
          text: "on",
          icon: "mdi-lightbulb-on-outline",
          color: "warning"
        },
        off: {
          text: "off",
          icon: "mdi-lightbulb-off-outline",
          color: "error"
        },
        unreachable: {
          text: "unreachable",
          icon: "mdi-error-outline",
          disabled: true
        },
        header: {
          bg: null,
          name: NO_SCENE
        }
      },
      HUE_STATES: HUE_STATES,
      TYPE_GROUP: HueAdapter.HUETYPE_GROUP,
      hueitem: null,
      isExcluded: false,
      detailsText: {
        title: null,
        content: []
      }
    };
  },
  methods: {
    isUnreachable() {
      return this.reachable !== undefined && !this.reachable;
    },
    getOnOff() {
      if (this.isUnreachable()) return this.style.unreachable.text;
      return this.on ? this.style.on.text : this.style.off.text;
    },
    switchOnOff() {
      this.hueAdapter.setHueState({ on: !this.on }).then(response => {
        this.$log.debug("switchOnOff:", response);
        this.on = !this.on;
        if (this.on) {
          this.components.comboboxEffect = EFFECTS[0].name;
        }
      });
    },
    resetSceneStyle() {
      this.style.header.bg = null;
      this.style.header.name = NO_SCENE;
    },
    setXY(color) {
      console.log(color);
      const xy = rgbToXY(color.r, color.g, color.b);
      const bri = alphaToBri(color.a);
      this.hueAdapter
        .setHueState({
          [HUE_STATES.ON.field]: this.on,
          [HUE_STATES.XY.field]: [xy.x, xy.y],
          [HUE_STATES.BRI.field]: bri
        })
        .then(response => {
          this.$log.debug("setXY:", response);
          this.bri = bri;
          this.xy = [xy.x, xy.y];
          this.style.header.name = NO_SCENE;
          this.style.header.bg = createBackgroundCSS(color);
        });
    },
    setEffect(effect) {
      this.hueAdapter
        .setHueState({
          [HUE_STATES.EFFECT.field]: effect
        })
        .then(response => {
          this.$log.debug("setEffect:", response);
        });
    },
    getHueAdapter() {
      if (this.hueAdapter === null)
        this.hueAdapter = HueAdapter.byData(this.hueid, this.item);
      return this.hueAdapter;
    },
    setGroupScene(sceneId) {
      this.hueAdapter.setHueState({ scene: sceneId }).then(response => {
        this.$log.debug("setGroupScene:", response);
        this.on = true;
      });
      fetchScene(sceneId).then(response => {
        this.$log.debug("setGroupScene: fetchScene", response);
        this.style.header.name = response.name;
        this.style.header.bg = createGradientCSS(response.lightstates);
      });
    },
    getCardSubtitle() {
      return this.type === HueAdapter.HUETYPE_GROUP
        ? this.style.header.name
        : "";
    },
    displayDetails() {
      const details = this.hueAdapter.details();
      let state = null;
      switch (this.hueAdapter.huetype) {
        case HueAdapter.HUETYPE_GROUP:
          if (details.state["all_on"]) {
            state = "all group's lights are on";
          } else if (details.state["any_on"]) {
            state = "some group's lights are off";
          } else {
            state = "off";
          }
          this.detailsText = {
            title: details.name,
            content: [
              `Group id: ${this.hueAdapter.id}`,
              `Group type: ${details.type}`,
              `Group class: ${details.class}`,
              `Recycle: ${details.recycle ? "yes" : "no"}`,
              `Model id: ${details.modelid}`,
              `Lights state: ${state}`,
              `Lights id: ${details.lights}`
            ]
          };
          break;
        case HueAdapter.HUETYPE_LIGHT:
          this.detailsText = {
            title: details.name,
            content: [
              `Light id: ${this.hueAdapter.id}`,
              `Light model: ${details.type}`,
              `Product name: ${details.productname}`,
              `Product id: ${details.productid}`,
              `Model id: ${details.modelid}`
            ]
          };
          break;
      }
    }
  },
  computed: {
    hueAdapter: {
      get() {
        return this.hueitem;
      },
      set(adapter) {
        this.hueitem = adapter;
      }
    },
    hueAdapterIcon: {
      get() {
        return process.env.VUE_APP_BASE_URL + this.hueAdapter.icon;
      }
    },
    on: {
      get() {
        return this.hueAdapter.on;
      },
      set(on) {
        this.hueAdapter.on = on;
      }
    },
    bri: {
      get() {
        return this.hueAdapter.bri;
      },
      set(bri) {
        this.hueAdapter.bri = bri;
      }
    },
    xy: {
      get() {
        return this.hueAdapter.xy;
      },
      set(xy) {
        this.hueAdapter.xy = xy;
      }
    },
    sat: {
      get() {
        return this.hueAdapter.sat;
      },
      set(sat) {
        this.hueAdapter.sat = sat;
      }
    },
    color: {
      get() {
        return this.components.color;
      },
      set(value) {
        this.components.color = value;
      }
    },
    hueGroupScenes: {
      get() {
        return this.hueAdapter.extractScenes(this.huedata);
      }
    },
    reachable: {
      get() {
        return this.hueAdapter.reachable;
      }
    },
    hueEffects: {
      get() {
        return Object.values(EFFECTS).map(effect => effect.name);
      }
    },
    disabledStates: {
      get() {
        return (
          EFFECTS[0].name !== this.components.comboboxEffect ||
          this.isUnreachable()
        );
      }
    },
    disabledScenes: {
      get() {
        return EFFECTS[0].name !== this.components.comboboxEffect;
      }
    },
    disabledEffect: {
      get() {
        return this.isUnreachable();
      }
    }
  },
  created() {
    this.getHueAdapter();
    this.components.comboboxEffect = this.hueAdapter.effect;
    const rgb = xyToRGB(this.xy[0], this.xy[1], this.bri);
    if (this.on) this.style.header.bg = createBackgroundCSS(rgb);
    this.color = { r: rgb.r, g: rgb.g, b: rgb.b, a: briToAlpha(this.bri) };
    this.$log.debug("init hueAdapter:", this.hueAdapter);
  }
};
</script>
