<template>
  <div>
    <v-card class="mx-auto" min-width="280">
      <v-card-text>
        <p class="display-1 text--primary text-capitalize">{{ item.name }}</p>
        <p class="font-weight-light font-italic">
          {{ item.native ? "Native" : "Local" }}
        </p>
        <p>
          {{ item.description }}
        </p>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "HueItemEffect",
  props: {
    item: Object,
    hueid: String
  },
  data() {
    return {};
  }
};
</script>
