<template>
  <div id="div-nav">
    <!-- Desktop left navigation -->
    <v-navigation-drawer
      :mini-variant.sync="style.miniVariant"
      :permanent="style.permanent"
      v-model="drawer"
      expand-on-hover
      dark
      app
    >
      <v-list dense nav class="py-0">
        <v-list-item two-line class="px-0">
          <v-list-item-avatar>
            <img src="@/assets/huetify-icon.png" />
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ title }}</v-list-item-title>
            <v-list-item-subtitle>{{ subtitle }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <!-- Navigation tab -->
        <v-list-item
          v-for="item in navs"
          :key="item.title"
          :to="{ path: item.route }"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ item.title.toUpperCase() }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <!-- Navigation buttons -->
        <v-list-item
          v-for="item in navButtons"
          :key="item.title"
          @click="syncResources()"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ item.title.toUpperCase() }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <!-- Mobile bottom navigation -->
    <v-bottom-navigation
      color="blue"
      v-if="$vuetify.breakpoint.mobile"
      v-model="mobile.activeBtn"
      dark
      grow
      app
    >
      <v-btn
        class="mt-2"
        v-for="item in navs"
        :key="item.title"
        :to="{ path: item.route }"
        link
        text
      >
        <span>{{ item.title.toUpperCase() }}</span>
        <v-icon>{{ item.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    subtitle: String,
    items: Array,
    params: Object
  },
  data: () => {
    return {
      drawer: true,
      style: {
        miniVariant: true,
        permanent: true
      },
      mobile: {
        activeBtn: 1
      }
    };
  },
  methods: {
    syncResources() {
      this.$log.debug(">>> sync resources:", this.params.func);
      this.params.func(this.$route);
    }
  },
  computed: {
    navs: {
      get() {
        return this.items.filter(nav => "route" in nav);
      }
    },
    navButtons: {
      get() {
        return this.items.filter(btn => !("route" in btn));
      }
    },
    mobileBreakpoint: {
      get() {
        return this.$vuetify.breakpoint.mobile
          ? this.$vuetify.breakpoint.name
          : "0";
      }
    }
  },
  mounted() {
    this.style.permanent = !this.$vuetify.breakpoint.mobile;
  }
};
</script>
