<template>
  <!-- Number of lights on -->
  <p :class="'text-center ' + textClass" style="min-width: 250px;">
    <span class="text-h1">{{ count }}</span
    ><span class="text-h4">/</span><span class="text-h5">{{ total }}</span
    ><v-spacer /><span class="text-h4 font-weight-light text-center"
      >&emsp;{{ label }}</span
    >
  </p>
</template>

<script>
export default {
  name: "FancyTextCounter",
  data() {
    return {
      mobile: {
        class: {
          textClass: "pa-4 mt-4"
        }
      },
      desktop: {
        class: {
          textClass: "pa-8"
        }
      }
    };
  },
  props: {
    count: String,
    total: String,
    label: String
  },
  computed: {
    textClass() {
      return this.$vuetify.breakpoint.mobile
        ? this.mobile.class.textClass
        : this.desktop.class.textClass;
    }
  }
};
</script>
