<template>
  <div>
    <v-row
      id="row-gradients-reload"
      align="center"
      justify="center"
      class="ma-3 flex-grow-1"
    >
      <v-btn id="btn-reload-gradients" @click="reload()" depressed
        ><v-icon class="mr-2" dark>mdi-reload</v-icon>Reload gradients</v-btn
      >
    </v-row>
    <v-row id="row-gradients" align="center" justify="space-between" no-gutters>
      <v-col
        :id="'col-gradients-' + index"
        v-for="(gradient, index) in gradients"
        :class="'d-flex ' + colGradientsClass"
        align-self="center"
        :key="index"
        cols="4"
      >
        <v-row
          id="row-gradients"
          align="center"
          justify="space-around"
          no-gutters
        >
          <v-sheet
            class="mx-2"
            :height="colorHeight"
            :width="colorWidth"
            elevation="3"
            :shaped="shaped"
            :rounded="rounded"
            :style="processGradientCSS(gradient)"
            @click="click(gradient)"
            block
          ></v-sheet>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "GradientPalette",
  props: {
    gradients: Array,
    click: Function,
    shaped: Boolean,
    rounded: Boolean,
    colorHeight: String,
    colorWidth: String,
    reload: Function
  },
  data() {
    return {
      mobile: {
        class: {
          colGradients: "py-3"
        }
      },
      desktop: {
        class: {
          colGradients: "pa-6"
        }
      }
    };
  },
  methods: {
    processGradientCSS(gradient) {
      return `background: linear-gradient(90deg,${gradient
        .toStringArray("rgb")
        .join(",")});`;
    }
  },
  computed: {
    colGradientsClass() {
      return this.$vuetify.breakpoint.mobile
        ? this.mobile.class.colGradients
        : this.desktop.class.colGradients;
    }
  }
};
</script>
