<template>
  <v-app>
    <navigation-drawer
      title="Huetify"
      subtitle="Dashboard"
      :items="nav"
      :params="params"
      @sync-resources="update"
    />
    <v-main>
      <router-view @function-fetched="getFetchFunction"></router-view>
    </v-main>
  </v-app>
</template>

<script>
import NavigationDrawer from "@/components/NavigationDrawer";
import { ROUTES } from "./router/index";

export default {
  name: "App",
  components: {
    NavigationDrawer
  },
  data: () => ({
    nav: [
      { title: "home", icon: "mdi-home", route: "/" },
      { title: "lights", icon: "mdi-lightbulb", route: ROUTES.LIGHTS.PATH },
      {
        title: "groups",
        icon: "mdi-lightbulb-group",
        route: ROUTES.GROUPS.PATH
      },
      {
        title: "effects",
        icon: "mdi-atom-variant",
        route: ROUTES.EFFECTS.PATH
      },
      {
        title: "devtest",
        icon: "mdi-dev-to",
        route: ROUTES.DEVTEST.PATH
      },
      { title: "sync", icon: "mdi-sync" }
    ],
    params: {}
  }),
  methods: {
    getFetchFunction(params) {
      this.params = params;
    },
    update() {
      this.$log.debug("re-render please:");
      this.$forceUpdate();
    }
  },
  created() {
    this.$log.debug(
      "breakpoint:",
      this.$vuetify.breakpoint,
      "name:",
      this.$vuetify.breakpoint.name
    );
  }
};
</script>
