<template>
  <div>
    <v-dialog v-model="dialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Details of {{ title }}</v-card-title>
        <v-card-text>
          <ul id="list-details">
            <li v-for="(detail, ind) in details" :key="ind">
              {{ detail }}
            </li>
          </ul>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-icon id="icon-item-details" class="float-right ma-5" @click="display()"
      >mdi-information</v-icon
    >
  </div>
</template>

<script>
export default {
  name: "DetailsModalItem",
  props: {
    title: String,
    details: Array,
    onclick: Function
  },
  data: () => ({
    dialog: false
  }),
  methods: {
    display() {
      this.onclick();
      this.dialog = true;
    }
  }
};
</script>
