<template>
  <v-combobox
    id="combobox-effects"
    class="mx-4"
    v-model="model"
    label="Apply an effect"
    :items="effects"
    :disabled="disabled"
    @change="onchange(model)"
    outlined
    dense
  ></v-combobox>
</template>

<script>
export default {
  name: "EffectsSelectItem",
  props: {
    default: String,
    effects: Array,
    onchange: Function,
    disabled: Boolean
  },
  data: () => ({
    model: null
  })
};
</script>
