<template>
  <div :id="'picker' + id"></div>
</template>

<script>
import iro from "@jaames/iro";
import VUE_EVENTS from "@/events.json";

/*
EVENTS of iro.js
    - color:change -> whenever color is changing (greedy)
    - input:end -> when mouse is released (lazy)
*/
// const EVENT_COLOR_CHANGE_GREEDY = "color:change";
const EVENT_COLOR_CHANGE_LAZY = "input:end";

function initColorPicker(id) {
  return new iro.ColorPicker(id, {
    width: 200,
    color: "#f00",
    layoutDirection: "horizontal",
    layout: [
      {
        component: iro.ui.Wheel,
        options: {
          borderColor: "#000000"
        }
      },
      {
        component: iro.ui.Slider,
        options: {
          sliderType: "saturation"
        }
      },
      {
        component: iro.ui.Slider,
        options: {
          sliderType: "alpha"
        }
      }
    ]
  });
}

export default {
  name: "RadialColorPicker",
  props: {
    id: String,
    color: String
  },
  methods: {
    colorPickerListener(colorPicker, mode) {
      colorPicker.on(mode, this.callbackColorPicked);
    },
    callbackColorPicked(color) {
      this.$emit(VUE_EVENTS.COLOR_PICKED, color.rgba);
    }
  },
  mounted() {
    let colorPicker = initColorPicker("#picker" + this.id);
    this.colorPickerListener(colorPicker, EVENT_COLOR_CHANGE_LAZY);
  }
};
</script>
