<template>
  <v-expansion-panel :disabled="disabled">
    <v-expansion-panel-header>Scenes</v-expansion-panel-header>
    <v-expansion-panel-content>
      <scrollable-list :items="scenes" :click="onclick" />
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import ScrollableList from "@/components/generic/ScrollableList.vue";

export default {
  name: "ScenesPanelItem",
  components: { ScrollableList },
  props: {
    scenes: Array,
    onclick: Function,
    disabled: Boolean
  }
};
</script>
