<template>
  <v-expansion-panel :disabled="disabled">
    <v-expansion-panel-header>States</v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-container fluid>
        <v-row align="center" justify="center">
          <radial-color-picker :id="hueid" @color-picked="onchange" />
        </v-row>
      </v-container>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import RadialColorPicker from "@/components/hueitem/RadialColorPicker.vue";

export default {
  name: "StatesPanelItem",
  components: { RadialColorPicker },
  props: {
    hueid: String,
    onchange: Function,
    disabled: Boolean
  }
};
</script>
