<template>
  <v-container class="white lighten-5" fluid>
    <v-row align="center" no-gutters>
      <v-col
        v-for="(item, index) in items"
        class="pa-6 flex-grow-1"
        align-self="center"
        :key="index"
        :xl="breakpoint.col.xl"
        :ld="breakpoint.col.ld"
        :md="breakpoint.col.md"
        :sm="breakpoint.col.sm"
        :xs="breakpoint.col.xs"
      >
        <component
          :is="dynamicComponent"
          :item="item.data"
          :type="type"
          :hueid="item.id"
          :huedata="huedata"
        ></component>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
/**
 * Hue API works with Object such as :
 * - Key: Hue id
 * - Value: Hue resource data [Object]
 *
 * example:
 * {
 *  "1": {...}
 * }
 *
 * GridItem has to be independant to the API which allows customisation such as sort.
 *
 * Data-structure requires: Array<Object>
 * [ {id: <id>, data: Object}, ..., {id: <id>, data: Object} ]
 *
 */

export default {
  name: "GridItem",
  props: {
    items: Array,
    type: String,
    dynamicComponent: Object,
    huedata: Object
  },
  data() {
    return {
      breakpoint: {
        col: {
          xs: "12",
          sm: "6",
          md: "4",
          lg: "4",
          xl: "4"
        }
      }
    };
  },
  computed: {
    adaptedColumn: {
      get() {
        return this.breakpoint.col[this.$vuetify.breakpoint.name];
      }
    }
  }
};
</script>
