<template>
  <v-virtual-scroll :items="items" height="200" item-height="50">
    <template v-slot:default="{ item, index }">
      <v-list-item :key="index" @click="click(item[0])" :color="color">
        <v-list-item-content>
          <v-list-item-title>
            {{ item[1].name }}
          </v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <v-icon small> mdi-play </v-icon>
        </v-list-item-action>
      </v-list-item>
      <v-divider></v-divider>
    </template>
  </v-virtual-scroll>
</template>

<script>
export default {
  name: "ScrollableList",
  props: {
    items: Array,
    click: Function
  },
  data() {
    return {
      color: ""
    };
  },
  computed: {
    bg: {
      get() {
        return "";
      }
    }
  }
};
</script>
